* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}



body{
    font-family: "Manrope", sans-serif;
    font-size: 15px;
    font-weight: 600;
    background: var(--veryPaleBlue);
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
    min-width: 360px;
    /* font weight 800 */
}

button{
    font-family: "Manrope", sans-serif;
}

.background-border{
    background: var(--veryLightGrayishBlue);
    width: 100%;
    min-height: 50vh;
    position: fixed;
    top: 0;
    z-index: -1;
    border-bottom-left-radius: 30%;
}